{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>Recomendations Company</title>
    <style>
        .recomendations {
            background-color: #0F0F0F;
            margin: 0;
            padding: 0;
            background-image: url("{% static 'main/img/recomendations-background.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
        .user-link {
            display: block;
            text-decoration: none;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .company {
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 3% 0;
            position: relative;
            width: 300px;
            height: 350px;
            border-radius: 50px;
            display: flex;
        }
        .user li {
            padding: 5px 0;
            margin: 0;
        }
        .companys_image {
        position: absolute;
        right: 20%;
        bottom: 85%;
        border-radius: 100%;
        border: rgba(0, 0, 0, 0.5) 10px solid;
    }
    </style>
</head>
<body class="recomendations">
    <div class="wrapper">
        <div class="header_rec">
            <div class="container">
                <div class="header__inner">
                    <div class="recomendations__top">
                        <a href="{% url 'home' %}" class="header__logo">JobHub</a>
                        <nav class="header__nav">
                            <a href="#" class="header__link">Фильтры</a>
                            <a href="{% url 'recomendation' %}" class="header__link">Специалисты</a>
                            <a href="#" class="header__link">О нас</a>
                        </nav>
                        <div class="header__icons">
                            <img src="{% static 'main/images/search.png' %}" alt="Search" class="header__search"/>
                            <a href="{% url 'addpage' %}" class="header__profile">Профиль</a>
                        </div>
                    </div>
                </div>
                <div class="companys_colon">
                    <ul class="companys_list">
                        <a href="{% url 'innovatech' %}" class="user-link">
                            <li class="company">
                                <img src="{% static 'main/img/user_image.png' %}" class="companys_image" alt="Фотография профиля">
                                <ul>
                                    <li class="company_info">
                                        <ul class="username">
                                            <li><p class="company_name">Innovatech</p></li>
                                            <li><p class="company_ID">@innovatech</p></li>
                                        </ul>
                                    </li>
                                    <li class="companys_specs">
                                        <ul>
                                            <li><p>12 лет на рынке</p></li>
                                            <li><p>г.Екатеринбург</p></li>
                                        </ul>
                                    </li>
                                    <li class="companys_present_text">
                                        <p>Задачи и направления <br>- Frontend разработка<br>- Backend разработка<br>- Аналитика данных<br>- Облачные решения<br>- Техническая поддержка</p>
                                    </li>
                                </ul>
                            </li>
                        </a>
                        <a href="{% url 'digitallabs' %}" class="user-link">
                            <li class="company">
                                <img src="{% static 'main/img/user_image.png' %}" class="companys_image" alt="Фотография профиля">
                                <ul>
                                    <li class="company_info">
                                        <ul class="username">
                                            <li><p class="company_name">DigitalLabs</p></li>
                                            <li><p class="company_ID">@digitallabs</p></li>
                                        </ul>
                                    </li>
                                    <li class="companys_specs">
                                        <ul>
                                            <li><p>10 лет на рынке</p></li>
                                            <li><p>г.Екатеринбург</p></li>
                                        </ul>
                                    </li>
                                    <li class="companys_present_text">
                                        <p>Задачи и направления <p class="end_pers_inf">- Frontend разработка<br>- Backend разработка<br>- Аналитика данных<br></p>
                                    </li>
                                </ul>
                            </li>
                        </a>
                        <a href="{% url 'itbox' %}" class="user-link">
                            <li class="company">
                                <img src="{% static 'main/img/user_image.png' %}" class="companys_image" alt="Фотография профиля">
                                <ul>
                                    <li class="company_info">
                                        <ul class="username">
                                            <li><p class="company_name">Itbox</p></li>
                                            <li><p class="company_ID">@itbox</p></li>
                                        </ul>
                                    </li>
                                    <li class="companys_specs">
                                        <ul>
                                            <li><p>1 год на рынке</p></li>
                                            <li><p>г.Екатеринбург</p></li>
                                        </ul>
                                    </li>
                                    <li class="companys_present_text">
                                        <p>Задачи и направления <br>- Помогаем создавать IT-системы, которые делают бизнес более продуктивным, умным и конкурентоспособным.</p>
                                    </li>
                                </ul>
                            </li>
                        </a>
                        <a href="{% url 'unit' %}" class="user-link">
                            <li class="company">
                                <img src="{% static 'main/img/user_image.png' %}" class="companys_image" alt="Фотография профиля">
                                <ul>
                                    <li class="company_info">
                                        <ul class="username">
                                            <li><p class="company_name">Unit</p></li>
                                            <li><p class="company_ID">@unit</p></li>
                                        </ul>
                                    </li>
                                    <li class="companys_specs">
                                        <ul>
                                            <li><p>27 лет на рынке</p></li>
                                            <li><p>г.Екатеринбург</p></li>
                                        </ul>
                                    </li>
                                    <li class="companys_present_text">
                                        <p>Задачи и направления <br>Качество -  гарантия развития организации в условиях конкуренции на рынке товаров и услуг.<br>- Аналитика данных<br></p>
                                    </li>
                                </ul>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
